<template>
  <div class="wrapper-home font-sans bg-gray-100">
    <div class="home-content flex flex-col grow pt-2 pl-5 h-full">
      <div class="home-header grid grid-cols-5 items-center mb-2">
        <div class="col-start-1 col-span-3 text-5xl font-semibold">
          Library Management
        </div>
        <div class="col-end-6 col-span-1 flex justify-center">
          <button
            @click="logout"
            class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900"
          >
            Logout
          </button>
        </div>
      </div>
      <div class="home-body grow mt-3 h-full mb-3">
        <div class="home-body-content grid grid-cols-3 gap-4 h-full">
          <div
            class="content-explorer border rounded-lg shadow-2xl bg-white h-full"
          >
            <ExplorerMain
              :folders="folderMenu"
              @showCreateFolder="handleShowCreateFolder"
              @showListEntryOfClickedFolder="handleShowListEntryOfClickedFolder"
            ></ExplorerMain>
          </div>
          <div
            class="content-entry border rounded-lg shadow-lg col-span-2 mr-3 divide-y divide-stone-200 bg-white"
          >
            <EntryfolderEntryList
              @showNewEntry="handleShowNewEntry"
              @search-entry="handleSearchEntry"
              @search-changed="hanldeSearchChanged"
              :entriesOfFolder="entriesOfFolder"
              :parentFolders="parentFolders"
            ></EntryfolderEntryList>
          </div>
        </div>
      </div>
    </div>
    <EntryfolderNewEntry
      :isOpenNewEntry="isOpenNewEntry"
      @offNewEntry="handleOffNewEntry"
      @submit-new-entry="handleSubmitNewEntry"
      :folders="folderList"
    ></EntryfolderNewEntry>
    <ExplorerCreateFolder
      :isOpenCreateFolder="isOpenCreateFolder"
      @offCreateFolder="handleOffCreateFolder"
      @submit-create-folder="handleSubmitCreateFolder"
      :folders="folderList"
    ></ExplorerCreateFolder>
    <TokenExpired
      :isTokenExpired="isTokenExpired"
      @submit-expired="handleSubmitExpired"
      @cancel-expired="handleCancelExpired"
    ></TokenExpired>
  </div>
</template>
<script setup lang="ts">
import { ref } from "vue";
import { Entry, Folder, FolderOptions, ResponseModel } from "~/model/Models";
//========= Title =================================
useHead({
  title: "Library Management",
});
const config = useRuntimeConfig();
const API_BASE_URL = config.public.API_BASE_URL;

const folderList = ref<FolderOptions[]>([]);
const folderMenu = ref<Folder[]>([]);
const token = (state.token as string).slice(1, -1);
const entriesOfFolder = ref<Entry[]>([]);
const entriesOfFolder_tmp = ref<Entry[]>([]);
const clickedFolder = ref<Folder>({
  id: 0,
  name: "",
  parentId: 0,
  childFolder: [],
});
const parentFolders = ref<Folder[]>([]);
onMounted(async () => {
  if (state.token == "") {
    isTokenExpired.value = true;
  }
  //Get all the folders
  const { data: dataFolder, ...restDataFolder } = await useFetch(
    `${API_BASE_URL}Folders`,
    {
      method: "GET",
      headers: {
        "content-type": "application/json",
        Authorization: `Bearer ${token}`,
      },
    }
  );
  const dataObject = JSON.parse(
    JSON.stringify(dataFolder.value)
  ) as ResponseModel;
  const foldersData = dataObject.data as Folder[];
  folderMenu.value.pop();
  folderMenu.value.push(foldersData[0]);
});

const isOpenNewEntry = ref<Boolean>(false);
const isOpenCreateFolder = ref<Boolean>(false);
const isTokenExpired = ref<Boolean>(false);
function handleShowNewEntry() {
  isOpenNewEntry.value = true;
}
function handleOffNewEntry() {
  isOpenNewEntry.value = false;
}
async function handleShowCreateFolder() {
  isOpenCreateFolder.value = true;
}
function handleOffCreateFolder() {
  isOpenCreateFolder.value = false;
}
async function handleSubmitCreateFolder() {
  const { data: dataFolder, ...restDataFolder } = await useFetch(
    `${API_BASE_URL}Folders`,
    {
      method: "GET",
      headers: {
        "content-type": "application/json",
        Authorization: `Bearer ${token}`,
      },
    }
  );
  const dataObject = JSON.parse(
    JSON.stringify(dataFolder.value)
  ) as ResponseModel;
  const foldersData = dataObject.data as Folder[];
  folderMenu.value.pop();
  folderMenu.value.push(foldersData[0]);
}
async function handleSubmitNewEntry() {
  const node = clickedFolder.value;
  const { data: dataEntries, ...restDataEntries } = await useFetch(
    `${API_BASE_URL}Entries/folder/${node.id}`,
    {
      method: "GET",
      headers: {
        "content-type": "application/json",
        Authorization: `Bearer ${token}`,
      },
    }
  );
  const dataObject = JSON.parse(
    JSON.stringify(dataEntries.value)
  ) as ResponseModel;
  entriesOfFolder.value = dataObject.data as Entry[];
  entriesOfFolder_tmp.value = entriesOfFolder.value;
  console.log(entriesOfFolder.value);
}
async function handleShowListEntryOfClickedFolder(node: Folder) {
  clickedFolder.value = node;
  console.log("id to get:", node.id);
  //================== Get entry list===================================
  const { data: dataEntries, ...restDataEntries } = await useFetch(
    `${API_BASE_URL}Entries/folder/${node.id}`,
    {
      method: "GET",
      headers: {
        "content-type": "application/json",
        Authorization: `Bearer ${token}`,
      },
    }
  );
  const dataObject = JSON.parse(
    JSON.stringify(dataEntries.value)
  ) as ResponseModel;
  entriesOfFolder.value = dataObject.data as Entry[];
  entriesOfFolder_tmp.value = entriesOfFolder.value;
  console.log(entriesOfFolder.value);
  //================== Get parent folder================================
  const parentFoldersTmp: Folder[] = [];
  parentFoldersTmp.push(node);
  if (node.parentId != 0) {
    const { data: dataParentFolders, ...restData } = await useFetch(
      `${API_BASE_URL}Folders/${node.parentId}`,
      {
        method: "GET",
        headers: {
          "content-type": "application/json",
          Authorization: `Bearer ${token}`,
        },
      }
    );
    const data_object = JSON.parse(
      JSON.stringify(dataParentFolders.value)
    ) as ResponseModel;
    let currentFolder = data_object.data as Folder;
    console.log("currentFolder:", currentFolder);
    parentFoldersTmp.push(currentFolder);
    while (currentFolder.parentId != 0) {
      const { data: dataParentFolders, ...restData } = await useFetch(
        `${API_BASE_URL}Folders/${currentFolder.parentId}`,
        {
          method: "GET",
          headers: {
            "content-type": "application/json",
            Authorization: `Bearer ${token}`,
          },
        }
      );
      const data_object = JSON.parse(
        JSON.stringify(dataParentFolders.value)
      ) as ResponseModel;
      currentFolder = data_object.data as Folder;
      console.log("currentFolder:", currentFolder);
      parentFoldersTmp.push(currentFolder);
    }
  }
  console.log(parentFoldersTmp);
  parentFolders.value = parentFoldersTmp.reverse();
  //===== get folder in options ==============console.log(clickedFolder.value);
  const folderListTmp: FolderOptions[] = [];
  const { data: dataFolderChildren, ...restData } = await useFetch(
    `${API_BASE_URL}Folders/${clickedFolder.value.id}`,
    {
      method: "GET",
      headers: {
        "content-type": "application/json",
        Authorization: `Bearer ${token}`,
      },
    }
  );
  const dataFolderOption = JSON.parse(
    JSON.stringify(dataFolderChildren.value)
  ) as ResponseModel;
  folderListTmp.push(dataFolderOption.data as FolderOptions);
  folderList.value = folderListTmp;
  console.log("options:", folderList.value);
}
async function handleSearchEntry(search: string) {
  const { data: searchResponse, ...restData } = await useFetch(
    `${API_BASE_URL}Entries/search`,
    {
      method: "GET",
      headers: {
        "content-type": "application/json",
        Authorization: `Bearer ${token}`,
      },
      query: {
        search: search,
        folderId: clickedFolder.value.id,
      },
    }
  );
  const dataObject = JSON.parse(
    JSON.stringify(searchResponse.value)
  ) as ResponseModel;
  if (search !== "") {
    entriesOfFolder.value = dataObject.data as Entry[];
    console.log(entriesOfFolder.value);
  }
}
function hanldeSearchChanged(search: string) {
  console.log(entriesOfFolder.value, "tmp:", entriesOfFolder_tmp.value);
  if (search === "") {
    entriesOfFolder.value = entriesOfFolder_tmp.value;
  }
}
function handleSubmitExpired() {
  state.isLogined = false;
  navigateTo("/");
}
function handleCancelExpired() {
  state.isLogined = false;
  isTokenExpired.value = false;
}
//----------------------------------------------------------------
function logout() {
  state.isLogined = false;
  state.token = "";
  navigateTo("/");
}
definePageMeta({
  middleware: "auth",
});
</script>
<style lang="scss" scoped>
.home-content {
  height: 825px;
}
</style>
