<template>
  <div
    class="wrapper-create-folder"
    :class="{ openCreateFolder: isOpenCreateFolder }"
  >
    <div class="create-folder-content border rounded-lg">
      <div class="create-folder-header grid grid-cols-5 p-5 ml-5">
        <div class="text-3xl col-start-1 col-span-1">Create folder</div>
        <div class="col-start-5 col-span-1 flex justify-center">
          <button @click="offCreateFolder" type="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
      </div>
      <form @submit.prevent="submitFolderForm">
        <div class="mb-6 m-5">
          <label
            for="folder-name"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Folder Name</label
          >
          <input
            v-model="folderForm.folderName"
            id="folder-name"
            class="p-3 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="Folder name here..."
          />
        </div>
        <div class="mb-6 m-5">
          <label
            for="folder-parent"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Folder Parent</label
          >
          <!-- <select
            v-model="folderForm.folderParentsId"
            id="folder-parent"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          >
            <option selected>Choose folder</option>

            <option
              v-for="(item, index) in folders"
              :key="index"
              :value="item.id"
            >
              {{ item.name }}
            </option>
          </select> -->
          <el-tree-select
            v-model="folderForm.folderParentsId"
            :data="folders"
            :props="defaultProps"
            check-strictly
            :render-after-expand="false"
            show-checkbox
          />
        </div>
        <div
          class="create-folder-footer flex justify-end items-center mr-5 pb-3"
        >
          <button
            type="submit"
            class="items-center text-xl inline-flex focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900"
          >
            Create
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"
              />
            </svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script setup lang="ts">
import {
  Folder,
  FolderForm,
  FolderOptions,
  ResponseModel,
} from "~~/model/Models";
import { ElTreeSelect } from "element-plus";
import "element-plus/es/components/tree-select/style/index";
const config = useRuntimeConfig();
const API_BASE_URL = config.public.API_BASE_URL;

const defaultProps = {
  label: "name",
  children: "childFolder",
};

const folderForm = ref<FolderForm>({
  folderName: "",
  folderParentsId: 0,
});
const token = (state.token as string).slice(1, -1);
const props = defineProps<{
  isOpenCreateFolder: Boolean;
  folders: FolderOptions[];
}>();
const emits = defineEmits<{
  (e: "offCreateFolder"): void;
  (e: "submitCreateFolder"): void;
}>();
function offCreateFolder() {
  emits("offCreateFolder");
}
async function submitFolderForm() {
  console.log(folderForm.value);

  const { data: folderFormData, ...restData } = await useFetch(
    `${API_BASE_URL}Folders/create`,
    {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Authorization: `Bearer ${token}`,
      },
      query: {
        folderName: folderForm.value.folderName,
        folderParentsId: folderForm.value.folderParentsId,
      },
    }
  );
  const dataObject = JSON.parse(
    JSON.stringify(folderFormData.value)
  ) as ResponseModel;
  if (dataObject.code == 200) {
    offCreateFolder();
    emits("submitCreateFolder");
  }
}
</script>
<style scoped>
.wrapper-create-folder {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.create-folder-content {
  position: absolute;
  top: 25%;
  width: 500px;
  background-color: whitesmoke;
}
.openCreateFolder {
  opacity: 1;
  visibility: visible;
}
</style>
