<template>
  <div class="wrapper-explorer">
    <div
      class="explorer-header grid grid-cols-3 col-start-1 col-end-2 text-3xl justify-center items-center flex"
    >
      <div class="col-start-1 col-span-1 ml-3">Explorer</div>
      <div
        class="explorer-icon flex flex-cols col-end-4 col-span-1 justify-center items-center pt-2"
      >
        <button
          @click="showCreateFolder"
          type="button"
          class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900"
        >
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6v6m0 0v6m0-6h6m-6 0H6"
            ></path>
          </svg>
        </button>
      </div>
    </div>
    <div class="explorer-body p-8">
      <ExplorerMenuItem
        :folders="folders"
        @clickedFolder="handleClickedFolder"
      ></ExplorerMenuItem>
    </div>
  </div>
</template>
<script setup lang="ts">
import { Folder } from "~/model/Models";

const props = defineProps<{
  folders: Folder[];
}>();
const emits = defineEmits<{
  (e: "showCreateFolder"): void;
  (e: "showListEntryOfClickedFolder", node: Folder): void;
}>();

function showCreateFolder() {
  emits("showCreateFolder");
}
function handleClickedFolder(node: Folder) {
  console.log("id in main:", node.id);
  emits("showListEntryOfClickedFolder", node);
}
</script>
<style scoped lang="scss"></style>
