<template>
  <el-tree
    :data="folders"
    :props="defaultProps"
    @node-click="handleNodeClick"
  />
</template>
<script setup lang="ts">
import { ref } from "vue";
import { ElTree } from "element-plus";
import "element-plus/es/components/tree/style/css";
import { Folder } from "~/model/Models";
//----------------------------------------------------------------
const props = defineProps<{
  folders: Folder[];
}>();
const defaultProps = {
  label: "name",
  children: "childFolder",
};
const emit = defineEmits<{
  (e: "clickedFolder", node: Folder): void;
}>();
//----------------------------------------------------------------
const currentId = ref<Array<number>>([]);
const showChildren = ref<Boolean>(true);
//----------------------------------------------------------------
function toggleChildren() {
  showChildren.value = !showChildren.value;
}
function handleNodeClick(node: Folder) {
  console.log(node);
  emit("clickedFolder", node);
}
</script>
<style lang="scss" scoped>
.el-tree {
  font-size: large;
}
</style>
