<template>
  <div class="wrapper-entry-folder flex flex-col m-5 h-full">
    <div v-for="entry in entriesOfFolder" class="entry-folder mt-5">
      <div class="folder-list-name mb-3 font-semibold">
        <div
          v-for="(folder, index) in parentFolders"
          :key="index"
          class="folder-name-detail inline-flex items-center"
        >
          <div class="text">{{ folder.name }}</div>
          <svg
            v-if="index != parentFolders.length - 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5"
          >
            <path
              fill-rule="evenodd"
              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </div>
      <div class="entry-question text-2xl font-bold text-violet-600">
        {{ entry.question }}
      </div>
      <div
        class="entry-answer pl-2 mt-2 block w-full bg-slate-200 border rounded-lg"
      >
        <div class="input-answer p-5">{{ entry.response }}</div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import { Entry, Folder } from "~/model/Models";

const props = defineProps<{
  entriesOfFolder: Entry[];
  parentFolders: Folder[];
}>();
</script>
<style scoped lang="scss"></style>
