<template>
  <div>
    <div class="content-entry-header grid grid-rows-2 pt-3 border-b-4">
      <form @submit.prevent="submitSearchEntry">
        <div class="relative w-full row-start-1 row-span-1 pl-5 pr-5">
          <input
            @keyup="searchStringChange"
            v-model="searchString"
            type="search"
            id="search-dropdown"
            class="block rounded-full p-2.5 w-full text-sm text-gray-900 rounded-lg border-l-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
            placeholder="Search..."
          />
          <button
            type="submit"
            class="absolute top-0 right-4 p-2.5 text-sm font-medium text-white bg-blue-700 rounded-r-full border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            <svg
              aria-hidden="true"
              class="w-5 h-5"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              ></path>
            </svg>
            <span class="sr-only">Search</span>
          </button>
        </div>
      </form>
      <div class="row-start-2 row-span-1 flex items-center ml-5">
        <button
          @click="showNewEntry"
          class="inline-flex focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900"
        >
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6v6m0 0v6m0-6h6m-6 0H6"
            ></path>
          </svg>
          <p>New Entry</p>
        </button>
      </div>
    </div>
    <div class="content-entry-body overflow-y-auto">
      <EntryfolderEntryOfFolder
        :entriesOfFolder="entriesOfFolder"
        :parentFolders="parentFolders"
      ></EntryfolderEntryOfFolder>
    </div>
  </div>
</template>
<script setup lang="ts">
import { Entry, Folder, ResponseModel } from "~/model/Models";
const searchString = ref<string>("");

const props = defineProps<{
  entriesOfFolder: Entry[];
  parentFolders: Folder[];
}>();
const emits = defineEmits<{
  (e: "showNewEntry"): void;
  (e: "searchEntry", seach: string): void;
  (e: "searchChanged", seach: string): void;
}>();

function showNewEntry() {
  emits("showNewEntry");
}
function submitSearchEntry() {
  console.log(searchString.value);
  emits("searchEntry", searchString.value);
}
function searchStringChange() {
  console.log(searchString.value);
  emits("searchChanged", searchString.value);
}
</script>
<style scoped lang="scss">
.content-entry-body {
  height: 580px;
}
</style>
