<template>
  <div class="wrapper-new-entry" :class="{ openNewEntry: isOpenNewEntry }">
    <div class="new-entry-content border rounded-lg">
      <div class="new-entry-header grid grid-cols-5 p-5 ml-5">
        <div class="text-3xl col-start-1 col-span-1">New Entry</div>
        <div class="col-start-5 col-span-1 flex justify-center">
          <button @click="offNewEntry" type="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
      </div>
      <form @submit.prevent="submitEntriesForm">
        <div class="new-entry-form overflow-y-auto max-h-96 m-5">
          <div v-for="(item, index) in entries" :key="index">
            <div class="border border-blue-300 mt-3 rounded-lg">
              <div class="remove-block-entry flex justify-end m-3">
                <button @click="removeBlockEntry(item.id)" type="button">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M6 18L18 6M6 6l12 12"
                    />
                  </svg>
                </button>
              </div>
              <div class="mb-6 m-5">
                <label
                  for="question"
                  class="block mb-2 text-sm font-medium text-gray-900"
                  >Question</label
                >
                <input
                  id="question"
                  class="p-3 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="Question here..."
                  v-model="item.question"
                />
              </div>
              <div class="mb-6 m-5">
                <label
                  for="answer"
                  class="block mb-2 text-sm font-medium text-gray-900"
                  >Answer</label
                >
                <textarea
                  v-model="item.response"
                  type="answer"
                  id="answer"
                  row="3"
                  placeholder="Answer here..."
                  class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                ></textarea>
              </div>
              <div class="mb-6 m-5">
                <label
                  for="folder"
                  class="block mb-2 text-sm font-medium text-gray-900"
                  >Folder</label
                >
                <!-- <select
                  v-model="item.folderId"
                  id="folder"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                >
                  <option selected>Choose folder</option>
                  <option
                    v-for="(item, index) in folders"
                    :key="index"
                    :value="item.id"
                  >
                    {{ item.name }}
                  </option>
                </select> -->
                <el-tree-select
                  v-model="item.folderId"
                  :data="folders"
                  :props="defaultProps"
                  check-strictly
                  :render-after-expand="false"
                  show-checkbox
                />
              </div>
            </div>
          </div>
        </div>
        <div class="btn-add-entry flex justify-end m-7">
          <button
            @click="addEntry"
            type="button"
            class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
          >
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 6v6m0 0v6m0-6h6m-6 0H6"
              ></path>
            </svg>
          </button>
        </div>
        <div class="new-entry-footer flex justify-end items-center mr-5 pb-3">
          <button
            type="submit"
            class="items-center text-xl inline-flex focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900"
          >
            Create
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"
              />
            </svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script setup lang="ts">
import { ref } from "vue";
import { Entry, Folder, FolderOptions, ResponseModel } from "~/model/Models";
import { ElTreeSelect } from "element-plus";
import "element-plus/es/components/tree-select/style/index";
import { emitKeypressEvents } from "readline";

const config = useRuntimeConfig();
const API_BASE_URL = config.public.API_BASE_URL;
////////////////////////////////
const props = defineProps<{
  isOpenNewEntry: Boolean;
  folders: FolderOptions[];
}>();
const emit = defineEmits<{
  (e: "offNewEntry"): void;
  (e: "submitNewEntry"): void;
}>();

////////////////////////////////
const entries = ref<Entry[]>([]);
const token = (state.token as string).slice(1, -1);
const defaultProps = {
  label: "name",
  children: "childFolder",
};
//////////////////////////////////
function offNewEntry() {
  console.log("offNewEntry");
  emit("offNewEntry");
}
function addEntry() {
  let entry = ref<Entry>({
    id: entries.value.length,
    question: "",
    response: "",
    folderId: 0,
  });
  entries.value.push(entry.value);
}
function removeBlockEntry(id: number) {
  console.log(id);
  console.log(entries.value);
  entries.value.splice(id, 1);
}
async function submitEntriesForm() {
  console.log(JSON.stringify(entries.value));
  const { data: entriesFormData, ...restData } = await useFetch(
    `${API_BASE_URL}Entries`,
    {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Authorization: `Bearer ${token}`,
      },
      body: JSON.stringify(entries.value),
    }
  );
  const dataObject = JSON.parse(
    JSON.stringify(entriesFormData.value)
  ) as ResponseModel;
  if (dataObject.code == 200) {
    offNewEntry();
    emit("submitNewEntry");
  }
}
</script>
<style scoped>
.wrapper-new-entry {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.new-entry-content {
  position: absolute;
  top: 10%;
  width: 500px;
  background-color: whitesmoke;
}
.openNewEntry {
  opacity: 1;
  visibility: visible;
}
</style>
